<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Process Costing in Manufacturing</b></h2>
            <h3 class="oe_slogn"  style=" text-align: center;">Process Costing in Manufacturing module is used to do process costing (Material Cost, Labour Cost, Overheads Cost) for manufacturing orders.</br/></h3>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span>Process Costing in Manufacturing</span></h4>
    </div>
</section>
<br>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bill of Materials - Direct Material Cost.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can see that direct material cost automatically added based on components of the Bill Of Material.</h3>
            <h3 class="text-info" style="font-size: 25px;">If you want to add direct material cost manually then you can also add.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_material_components.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_material.png">
            </div>
        </div>
    </section>
    
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bill of Materials - Direct Labour Cost.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can configure Direct Labour Cost on Bill of Materials.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_labour.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bill of Materials - Direct Overhead Cost.</strong></h1>
                <h3 class="text-info" style="font-size: 25px;">You can configure Direct Overhead Cost on Bill of Materials.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_overhead.png"><br/><br/>
            </div>
        </div>
    </section>    

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bill of Materials Costing.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can see total cost of Material,Labour and Overhead.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_total_cost.png">
            </div>
        </div>
    </section>
    
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Create Manufacturing Orders</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">When you create manufacturing orders from BOM then selected BOM's Direct Labour Cost and Direct Overhead Cost will be filled automatically on manufacturing order.</h3>
            <h3 class="text-info" style="font-size: 25px;">Direct Material Cost will be filled automatically based on Consumed Materials of  manufacturing order.</h3>
            <h3 class="text-info" style="font-size: 25px;">If you want to add direct material cost manually then you can also add.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pro_material_components.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pro_material.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pro_labour.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pro_overhead.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Manufacturing Orders Costing.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can see total cost of Material,Labour and Overhead.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="mp_total_cost.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Create Manufacturing Workorder.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">By clicking on Create Workorders button,Workorder will be created with Direct Material Cost, Direct Labour Cost and Direct Overhead Cost.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="workorder_button.png"><br/><br/>
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Workorder.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Click on work orders smart button to view created work orders.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="work_order_button.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Tree View Of Workorder.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="work_order_tree_view.png"><br/><br/>
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Workorder Form View</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Form view of created workorder with Direct Material Cost, Direct Labour Cost and Direct Labour Cost</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="wo_material.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="wo_labour.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="wo_overhead.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="wo_cost_total.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Update Product Quantity.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Click on Update button to update quantity on Manufacturing order.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="update_button.png"><br/><br/>
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Update Product Quantity Wizard.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="update_button_wizard.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Updated Product Quantity.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">When you update Qty on Manufacturing order it will auto update all cost lines based on that.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="changed_material_qty.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="chnaged_labour_qty.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="changed_overhead_qty.png">
            </div>
        </div>
    </section>
    
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bill of Materials Report.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can print report for Bill of Materials.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_report_button.png">
            </div>
        </div>
    </section>
    
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>BOM Report View.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_report1.png">
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_report2.png">
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="bom_report3.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Manufacturing Orders Report.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can print report for Manufacturing Orders.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="mo_report_button.png">
            </div>
        </div>
    </section>
    
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Manufacturing Report View.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="mo_report1.png">
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="mo_report2.png">
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="mo_report3.png">
            </div>
        </div>
    </section>
            
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
					<a href="sales@browseinfo.in" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
			</div>
		</div>
	</section>

